<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/front-end/src/templates/register.css">
</head>

<body>
  <div class="register">
    <div class="form">
      <h2>ĐĂNG KÝ</h2>
    
      <input type="text" placeholder="Tên đăng nhập">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Họ và tên">
      <input type="text" placeholder="Điện thoại">
      <input type="text" placeholder="Địa chỉ">
      <input type="date" placeholder="Ngày sinh">

      <div class="mt-6 btn-list">

        <div class="select-wrapper select--white">
          <select name="Tỉnh/Thành phố">
            <option value="">Tỉnh / Thành phố</option>
            <option value="pure">pure</option>
            <option value="css">css</option>
            <option value="bitch">bitch</option>
          </select>
        </div>
        <select name="calc_shipping_district" required="">
          <option value="">Quận / Huyện</option>
        </select>

      </div>

      <div class="radio">
        <input type="radio" id="radio1" name="group-radio" />
        <label for="radio1">I love</label>
      </div>
      <div>
        <input type="radio" id="contactChoice1"
         name="contact" value="email">
        <label for="contactChoice1">Email</label>
    
        <input type="radio" id="contactChoice2"
         name="contact" value="phone">
        <label for="contactChoice2">Phone</label>
    
        <input type="radio" id="contactChoice3"
         name="contact" value="mail">
        <label for="contactChoice3">Mail</label>
      </div>

      <!-- Role : Volunteer / Organization
      Gender: Nam / Nữ / Khác  -->

              
       
   
      <input type="password" placeholder="Mật khẩu">
      <input type="password" placeholder="Nhập lại mật khẩu">

      <input type="submit" value="Đăng ký" class="submit">





      <div class="mt-6 btn-list">
        <button type="button" class="socila-btn btn btn-icon btn-facebook fb-color"><i
            class="fab fa-facebook-f faa-ring animated"></i></button>
        <button type="button" class="socila-btn btn btn-icon btn-google incolor"><i
            class="fab fa-linkedin-in faa-flash animated"></i></button>
        <button type="button" class="socila-btn btn btn-icon btn-twitter tweetcolor"><i
            class="fab fa-twitter faa-shake animated"></i></button>
      </div>
    </div>

  </div>
</body>

</html>